main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 60px;
  background-image: url('../images/monkey.png'), url('../images/BG.jpg');
  background-size: 70vh, cover;
  background-repeat: no-repeat;
  background-position: bottom left calc(50% + 80px), center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 220px;
  z-index: 100;
}

main .main-intro h1 {
  font-size: 96px;
  line-height: 106px;
}

main p {
  font-size: 18px;
  line-height: 30px;
}

main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  background-color: var(--site-color-01);
  padding: 10px 20px; /* top and bot and left and right */
  width: fit-content;
}

main .main-quotes p {
  border-left: 4px solid var(--site-color-01);
  padding-left: 20px;
  margin: 40px 0;
}

main .main-quotes p:nth-child(2) {
  /* every 2nd p */
  margin-left: 100px;
}

main .main-intro {
  position: relative;
  right: 20vh;
  padding-bottom: 8vh;
}

main .main-quotes {
  padding-bottom: 8vh;
}

/* Category section */

.index-category {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap; /* used when flexbasis used*/
}

.index-category p {
  color: #111;
  text-align: center;
  padding-bottom: 40px;
  flex-basis: 100%;
  text-transform: uppercase;
  font-size: 22px;
}
.index-category-box {
  width: 200px;
  height: 200px;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index-category-box:nth-child(2) {
  background-image: url('../images/programming.jpg');
}
.index-category-box:nth-child(3) {
  background-image: url('../images/movie.jpg');
}
.index-category-box:nth-child(4) {
  background-image: url('../images/film.jpg');
}
.index-category-box:nth-child(5) {
  background-image: url('../images/base.jpg');
}
.index-category-box h3 {
  font-size: 22px;
  line-height: 28px;
  text-shadow: 3px 4px 2px #000; /* x y blur */
  z-index: 100;
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1a253a;
  opacity: 0.5;
  transition: all ease-in-out 200ms;
}

.index-category-box:hover .dark-overlay {
  opacity: 0;
}

/* ABOUT SECTION */

.index-about {
  width: 100%;
  padding: 60px 0;
  background-color: #1a253a;
}
.index-about-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
}
.index-about-img img {
  width: 300px;
  border-radius: 300px;
}
.index-about-text h2 {
  flex-basis: 455px;
}

.index-about-text p {
  padding: 20px 0;
}

.index-about-text a {
  font-size: 18px;
  display: block;
  background-color: var(--site-color-01);
  padding: 10px 20px; /* top and bot and left and right */
  width: fit-content;
}

.index-about-text a:hover {
  background-color: var(--site-color-01-hover);
}
.index-about-skill {
  flex-basis: 350px;
}
.index-about-skill-bar {
  width: calc(100% - 8px);
  height: 20px;
  border: 4px solid #0b0f16;
}
.index-about-skill-bar-fill {
  height: 100%;
  background-color: var(--site-color-01);
}

.htmlcss {
  width: 95%;
}
.javascript {
  width: 70%;
}
.photoshop {
  width: 50%;
}
.blender {
  width: 78%;
}

/* MOBILE VERSION*/
@media only screen and (max-width: 600px) {
  main .main-quotes {
    display: none;
  }

  main {
    align-items: flex-end;
  }
  main .main-intro {
    padding-bottom: 8vh;
  }

  main .main-intro h1 {
    font-size: 5rem;
    line-height: 1.1;
    text-align: center;
  }

  main p {
    text-align: center;
    padding: 0 10px;
    font-size: 1.6rem;
    line-height: 1.75;
  }

  main a {
    margin: 30px auto;
  }
}
