main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 60px;
  background-image: url('../images/monkey.png'), url('../images/BG.jpg');
  background-size: 70vh, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20vh;
  z-index: 100;
}

main .main-intro h1 {
  font-size: 96px;
  line-height: 106px;
}

main p {
  font-size: 18px;
  line-height: 30px;
}

main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  background-color: var(--site-color-01);
  padding: 10px 20px; /* top and bot and left and right */
  width: fit-content;
}

main .main-quotes p {
  border-left: 4px solid var(--site-color-01);
  padding-left: 20px;
  margin: 40px 0;
}

main .main-quotes p:nth-child(2) {
  /* every 2nd p */
  margin-left: 100px;
}

main .main-intro {
  position: relative;
  right: 20vh;
  padding-bottom: 8vh;
}

main .main-quotes {
  position: relative;
  left: 4vh;
  padding-bottom: 8vh;
}

/* Category section */

.index-category {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap; /* used when flexbasis used*/
}

.index-category p {
  color: #111;
  text-align: center;
  padding-bottom: 40px;
  flex-basis: 100%;
  text-transform: uppercase;
  font-size: 22px;
}
.index-category-box {
  width: 200px;
  height: 200px;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-category-box:nth-child(2) {
  background-image: url('../images/programming.jpg');
}
.index-category-box:nth-child(3) {
  background-image: url('../images/movie.jpg');
}
.index-category-box:nth-child(4) {
  background-image: url('../images/film.jpg');
}
.index-category-box:nth-child(5) {
  background-image: url('../images/base.jpg');
}
.index-category-box h3 {
  font-size: 22px;
  line-height: 28px;
  text-shadow: 3px 4px 2px #000; /* x y blur */
}
