:root {
  --white-background: #fff;
  --site-color-01: #c13584;
  --site-color-01-hover: #ea71b5;
}
@font-face {
  font-family: Bubble;
  src: url('../fonts/RubikBubbles-Regular.ttf');
}
body {
  background-color: #1e1e1e;
}

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('../images/fb_norm.png') url('../images/fb_dark.png')
    url('../images/insta_dark.png') url('../images/insta_norm.png')
    url('../images/discord.png');
}

a {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: Roboto;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  font-family: Roboto;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: Roboto;
}
.header-main {
  position: fixed;
  top: 0;
  /* width: calc(100vw - 500px); */
  width: 100vw;
  height: 60px;
  background-color: var(--white-background);
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.header-main-logo img {
  height: 60px;
  align-self: center;
}
.header-main-logo {
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 60px;
}
.header-main-nav {
  width: fit-content;
  height: 100%;
}
.header-main-nav ul {
  margin-left: 30px;
}
.header-main-nav ul li {
  display: inline;
  float: left;
}
.header-main-nav li a {
  padding: 0 10px;
  font-family: Roboto;
  text-decoration: none;
  line-height: 60px;
  color: #000;
  display: block;
  height: 100%;
}

.header-main-nav li a:hover {
  color: red;
}

.header-main-sm {
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-fb {
  width: 20px;
  height: 20px;
  background-image: url('../images/fb_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-fb:hover {
  background-image: url('../images/fb_norm.png');
}

.header-main-sm-in {
  width: 20px;
  height: 20px;
  background-image: url('../images/insta_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-in:hover {
  background-image: url('../images/insta_norm.png');
}
